:root {
    --dark-blue: #0A3871;
    --main-color: #F2F5FC;
    --light_blue: #D8DFE8;
    --inter-font: "Inter", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--main-color);
    font-family: var(--inter-font);
    margin: 16px;
}

header {
    margin-bottom: 5rem;
    width: 60%;
}

main {
    display: flex;
    justify-content: space-around;
}

header img {
    width: 120px;
    height: 48px;
}

.form__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70dvh;
}

.form__input {
    width: 100%;
    max-width: 577px;
    height: 64dvh;
    background: transparent;
    color: var(--dark-blue);
    font-family: var(--inter-font);
    font-size: 3.2rem;
    margin-bottom: 3rem;
    border-color: transparent;
    outline: none;
    resize: none;
    overflow: auto;
}

::placeholder {
    color: var(--dark-blue);
}

.alert__msg {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.submit__container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.form__btn {
    background: var(--dark-blue);
    color: white;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px solid var(--dark-blue);
    font-weight: 600;
}

.form__btn--secondary {
    background: transparent;
    color: var(--dark-blue);
}

.result {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 65dvh;
    border-radius: 32px;
    width: 100%;
    max-width: 40rem;
    padding: 2rem 3rem;
}

.result__title {
    font-size: 2.4rem;
    font-weight: 600;
    color: #343A40;
}

.result__text {
    font-size: 1.6rem;
}

.result__img {
    display: block;
}

.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .submit__container {
        justify-content: center;
    }

    .result {
        height: auto;
        max-width: 624px;
        margin-top: 2rem;
        min-height: 186px;
    }

    .result__img {
        display: none;
    }

    header img {
        width: 73px;
    }
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 80px;
    height: 40px;
    background:
      radial-gradient(circle 11px at top,#0000 94%,#b0e5f3) 0 20px,
      radial-gradient(circle 11px at top,#0000 94%,#5dc1e4) 0 10px,
      radial-gradient(circle 11px at top,#0000 94%,#008cd9) 0 0   ;
    background-size: 20px 100%;
    background-repeat: repeat-x;
    animation: l7 1s infinite linear;
  }
  @keyframes l7 {
    50%  {background-position: 10px 15px,-10px 12px,15px 8px}
    100% {background-position: 20px 20px,-20px 10px,20px 0px}
  }